{% capture listItems %}
                        {% for item in collections %}
                        <div role="listitem" class="w-dyn-item">
          <div class="text-block-38">{{ item.metafields.udesly['info-para'] }}</div>
          <div id="category-name" class="shop-category-name">{{ item.title }}</div>
        </div>
                        {% endfor %}
                        {% endcapture %}
{% assign items_length = listItems | strip | size %}
    <div id="about-para" class="collection-list-wrapper-5 w-dyn-list" udy-collection="collection">
      {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
        {{ listItems }}
      </div>{%- endunless -%}
      {%- if items_length == 0 -%}<div class="w-dyn-empty">
        <div>No items found.</div>
      </div>{%- endif -%}
    </div>