{% capture listItems %}
                        {% for item in collections %}
                          {% if item.metafields.custom.isfilter %}
                        <div role="listitem" class="collection-item-8 w-dyn-item">
              <a href="{% if item.title == "All" %} /collections/all {% else %} {{ request.path }}?filter.p.m.custom.collection={{ item.title }}{% endif %}" class="btn border-btn tabs-btn drop-btn w-dropdown-link">{{ item.title }}</a>
            </div>
                            {% endif %}
                        {% endfor %}
                        {% endcapture %}
{% assign items_length = listItems | strip | size %}
    <div class="w-dyn-list" udy-collection="collection">
          {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
            {{ listItems }}
          </div>{%- endunless -%}
          {%- if items_length == 0 -%}<div class="w-dyn-empty">
            <div>No items found.</div>
          </div>{%- endif -%}
        </div>