<style>
  .insta-image:nth-child(even){
    margin-top : 2rem;
  }
</style>

{%- if post and post != empty -%}
  <div class="insta-image" style="
    border-radius: 23px 23px 0px 0px;
    overflow: hidden; max-height:20rem;">
  <img
    src="{{ post.image.src | image_url }}"
    loading="eager"
    alt="{{ post.title }}"
    style="height:100%; object-fit:cover;width:100%;"
    sizes="(max-width: 479px) 167.98611450195312px, (max-width: 767px) 255.98959350585938px, (max-width: 991px) 33vw, (max-width: 1439px) 320px, 383.9930725097656px"
  >
    </div>
{%- endif -%}

<!-- <script>
  var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","insta-image");
</script> -->
