<div class="custom-div">
  <p>{{ section.settings.some_text }}</p>
</div>

{% schema %}
{
  "name": "ParaSection",
  "class": "custom-div",
  "settings": [
    {
      "type": "text",
      "id": "some_text",
      "default": "This is text",
      "label": "Add Text"
    }
  ],
  "presets": [
    {
      "category": "ParaSection",
      "name": "New Section"
    }
  ]
}
{% endschema %}
