<div
  data-w-id="2cb7f69f-9069-6b59-f1b3-42a4ae6da4a6"
  style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
  class="cards no-wrap"
  id="Gallery-slider"
>
  {% for block in section.blocks %}
  <div class="collection-item-3">
    <div class="product-card gallary-card">
      <div class="product-image materials-card-img gallery-card">
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="product-img"
        >
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="collection-item-3">
    <div class="product-card gallary-card">
      <div class="product-image materials-card-img gallery-card">
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="product-img"
        >
      </div>
    </div>
  </div>
  <div class="collection-item-3">
    <div class="product-card gallary-card">
      <div class="product-image materials-card-img gallery-card">
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="product-img"
        >
      </div>
    </div>
  </div>
  <div class="collection-item-3">
    <div class="product-card gallary-card">
      <div class="product-image materials-card-img gallery-card">
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="product-img"
        >
      </div>
    </div>
  </div>
  <div class="collection-item-3">
    <div class="product-card gallary-card">
      <div class="product-image materials-card-img gallery-card">
        <img
          loading="lazy"
          src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
          alt=""
          class="product-img"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gallery Slider",
  "settings": [],
  "blocks" : [
    {
      "type" : "slide",
      "name" : "Gallery Card",
      "settings" : [
        {
          "type" : "image_picker",
          "id" : "card-image",
          "label" : "Card Image"
        }
      ]
    }
  ]
}
{% endschema %}
