<div class="section">
  <p>{{ section.settings.text_id }}</p>
</div>


{% schema %}
  {
    "name": "section",
    "class" : "section",
    "settings": [
      {
        "type" : "text",
        "id" : "text_id",
        "default" : "hi",
        "label" : "Add Text"
      }
    ],
    "presets" : [
      {
        "category" : "section",
        "name"  :"New Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}