{% for block in section.blocks %}
  <div class="faq-div" >
                <div class="question-number">
                  <div>{{block.settings.question_number}}</div>
                </div>
                <div class="faq-question" id={{id}}>
                  <div class="question">
                    <div>{{block.settings.question}}</div>
                  </div>
                  <div class="faq-answer">
                    <p class="paragraph-2">{{block.settings.answer}}</p>
                  </div>
                </div>
              </div>
{% endfor %}
{% schema %}
{
   "name":"Shipping FAQ",
   "class":"faq_section",
   "settings":[
      
   ],
   "blocks":[
      {
         "type":"slide",
         "name":"Question",
         "settings":[
            {
               "type":"header",
               "content":"Question Item"
            },
            {
               "type":"text",
               "id":"question_number",
               "label":"Question Number"
            },
            {
               "type":"text",
               "id":"question",
               "label":"Question — text"
            },
            {
               "type":"html",
               "id":"answer",
               "label":"Answer — html"
            }
         ]
      },
      {
         "type":"header",
         "name":"Header",
         "settings":[
            {
               "type":"header",
               "content":"Header"
            },
            {
               "type":"text",
               "id":"header",
               "label":"Header"
            }
         ]
      }
   ]
}
{% endschema %}